@use 'breakpoints' as *

@keyframes fadeIn
  from 
    opacity: 0
    top: 2rem
  30%
    top: 0
    opacity: .1
    
  60%
    top: 0
    opacity: .5
  to
    opacity: 1
    top: 0


// reset browser styles
*, *::before, *::after
  box-sizing: border-box
  cursor: default

body
  margin: 0
  position: absolute
  min-width: 320px
  opacity: 0
  animation: 1s fadeIn .5s ease-out forwards

main
  margin-top: 3rem

ul
  padding: 0
  margin: 0
  list-style: none

a
  color: inherit
  cursor: pointer


// style html and body
html
  font-size: 14px
  scroll-behavior: smooth
  height: 100%

  // responsive rem and font-sizes
  @media screen and (min-width: $medium)
    font-size: 18px

  @media screen and (min-width: $large) 
    font-size: 22px

  @media screen and (min-width: $xlarge)
    font-size: 1vw

  @media screen and (min-width: $xxlarge)
    font-size: 1.25vw



body
  background-color: var(--color-bg)
  position: absolute
  min-height: 100%
  width: 100%

  // prevent scrolling when menu expanded on mobile
  &[unscrollable]
    overflow: hidden
