@use '../mixins' as *

.fab 
  border-radius: 50%
  transition: var(--transition)
  @include flex()

  &__scroll
    position: fixed
    right: 1rem
    z-index: 10
    width: 1rem
    height: 1rem
    font-size: 1.25rem
    opacity: 0
    &--visible
      bottom: 2rem
      opacity: 1

    &--hidden
      bottom: -5rem
      opacity: 0