@use '../mixins' as *
@use '../breakpoints' as breakpoints

.home
  &__title
    font-weight: normal
    text-align: center

  &__bold
    font-weight: bold

  &__intro

    @media screen and (min-width: breakpoints.$medium)
      width: 75%
      margin: auto

    @media screen and (min-width: breakpoints.$xlarge)
      width: 50%


  &__content
    text-align: center

  &__cta
    @include flex(row, nowrap, space-evenly, center)
    margin-top: var(--spacing)

